@import "mixin.scss";
@import "var.scss";
@import "fonts.scss";

body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    color: $white;
    position: relative;
    scroll-behavior: smooth;
}
span{
    color: $red;
}
.start{
    height: 100vh;
}
.wrapper{
    width: 1180px;
    margin: 0 auto;
    @media (max-width: 1180px) {
        width: 82%;
    }
}
.header{
    background: $black;
    position: fixed;
    width: 100%; 
    opacity: 0.1;
    @media screen and (max-width:768px){
        background: transparent;
        opacity: 0.7;
    }
    top: 0;
    opacity: 1;
    z-index: 99;
    .wrapper{
        @media screen and (max-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &_logo{
       padding: 17px 0 15px 0; 
       text-align: center;
       .logo{
        width: 106px;
        height: 51px;
        background: url(../img/start_logo_02\ 2.png);
        background-size: cover;
       }
    }
    &_menu{
        display: flex;
        justify-content: center;
        @media screen and (max-width:768px) {
            display: none;
        }
        ul{
           margin: 0 0 14px 0;
           padding: 0;
        }
        li{
            display: inline-block;
            font-family:Geometria-regular;
            font-weight: 400;
            font-size: 18px;
            color: $white;
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                color: $red;
            }
        }
        &__list{
           .line2, .line4 {
            padding: 0 30px;
        }  
        .line6{
            padding-left: 30px;
        }
        }
        
    } 
    &__burger{
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
        div{
            width: 32px;
            height: 2px;
            background-color: $white;
        }
        .line2{
            margin: 8px 0;
        }
    }  
}

.discount{
    background: $black;
    position: relative;
    margin-top: 120px;
    &_title{
        @include font(Geometria, 700, 40px);
        color: $white;
        padding-top: 170px;
        span{
            color: $red;
        }
    }
    &_links{
        &__1{
            margin-right: 7px;
        }
       padding: 50px 0;
    }

}
.carped{
    height: 340px;
    height: 320px;
    margin-top: 120px;
    @media screen and (max-width:768px) {
        margin-top: 0;
    }
    background-image: url(../img/toshishito_pattern_red\ 2.png);
}

.sushi{
    position: absolute;
    width: 100%;
    top: 0;
    transition: all 5s;
    @media screen and (max-width: 576px){
        top: 100px;
    }
    &_wrapper{
        width:1180px;
        margin: 0 auto;
        position: relative;
        text-align: right;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    &__img{
        transition: all 5s; 
        img{
           @media screen and (max-width: 930px) {
            width: 80%;
            height: auto;
           }
           @media screen and (max-width: 670px) {
            width: 100%;
           }
        }
        


    }
    .animImg{
        transform: rotate(0.5turn) translateX(-28%);
        transition: all 5s;
    }
}

.about{
    background-color: $black;
    color:$white;
    span{
        color: $red;
    }
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        padding: 140px 0 90px 0;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }

    &__title{
        @include font("Geometria", 700, 40px);
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    &__howMeals{
        display: flex;
        justify-content: end;
        align-items: center;
        @media (max-width: 768px) {
            justify-content: start;
            margin-top: 22px;
        }
        &_line{
            height: 56px;
            width: 5px;
            background-color: $red;
            margin-right: 18px;
        }
        &_text{
            @include font(Exo2, 300, 16px);
            width: 35%;
            @media (max-width: 768px){
                width: 100%;
            }
        }  
    }

    &__advantages{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        margin-top: 96px;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 30px;
        }
        &_item{
            display: flex;
            .cikle{
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $red;
                margin:3px 11px 0 0;
            }
            .text{
                width: 90%;
                @include font(Exo2, 300, 12px);
            }
        }
    }
}
 @keyframes run-text {
    from{
        transform: translateX(15%);
    }
    to{
        transform: translateX(-45%);
    }
}  
.toshishito{
    height: 776px;
    background-image: url(../img/sushi-with-cucumber-ginger-wasabi-and-sesame-seeds\ 1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
        height: 523px;
    }
    @media (max-width: 576px) {
        height: 267px;
    }
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        height: 100%;
        @media (max-width: 1180px) {
            width: 82%;
        }
        display: flex;
        align-items: center;
    }
    img{
        width: 431px;   
        height: 645px;
        @media (max-width: 768px) {
            width: 320px;
            height: 378px;
        }
        @media (max-width: 576px){
            width: 120px;
            height: 178px;
        }
    }
    &__img{
        text-align: right;
        width: 100%;
        position: absolute;
        z-index:  10;    
    }
    &__text{
        position: absolute;
        width: 700%;
        top: 250px;
        left: 0;
        text-align-last: left;
        @include font("Intro", 400, 350px);
        z-index: 1;
        color: $white;
        animation-name: run-text;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    } 
}

 

.aboutKitchen{
    background-color:$black;
    color:$white;
    @include font(Exo2, 700, 16px);
    line-height: 20px;
    span{
        color:$red;
    }
   
    .wrapper{
        width: 81%;
        margin: 0 auto;
        padding: 89px 0;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    .aboutKitchen__title{
        text-align: center;
        @include font(Geometria, 700, 40px)
    }
    &__main{
        margin-top: 91px;
        display: flex;
        
        &_descr{
            display: flex;
            .aboutKitchen__main_text{
                margin-top: 18px;
            }
        }
        &_line{
            height: 141px;
            width: 5px;
            background-color: $red;
            margin-right: 18px;
        }
        &_descr2{
            display: flex;
            .cikle{
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $red;
                margin: 4px 11px 0 0;
            }
            .aboutKitchen__main_text{
                width: 95%;
            }
        }
    }
}

.downloadApp{
    @include font(Geometria, 700, 40px);
    height: 360px;
    color: $white;
    background-image: url(../img/toshishito_pattern_black5.png);
    span{
        color: $red;
    }

    .wrapper{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    &__links{
        margin-top: 21px;
        &_item{
            display: inline-block;
           /*  img{
                width: 110px;
                height: 36px; 
            } */
            .pd{
                padding-left: 23px;
            }
        }
    }

}
.beverages{
    background-color: $black;
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        display: flex;
        padding: 15px 0 75px 0;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    &__descr{
        margin: 230px 0 0 70px;
    }
    &__title{
        @include font(Geometria, 700, 40px);
    }

    &__list{
        margin-top: 44px;
        @include font(Geometria, 300, 16px);
        ul{
            list-style-type: none;
        }
        .cikle{
                 width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $red;
                margin: 5px  11px 0 0;
        }
        li{
            display: flex;
        }
        .text{
            width: 95%;
        }
        .pd{
            margin: 32px 0;
        }
    }
}

.delivery{
    height: 776px;
    background-image: url(../img/Kodo_T_Cars_nov_007.png); 
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    img{
        width: 431px;   
        height: 645px;
        margin-top: 57px;
    }
    &__img{
        text-align: right;
        width: 100%;
        position: absolute;
        z-index:  10;    
    }
    &__text{
        position: absolute;
        width: 700%;
        top: 250px;
        left: 0;
        text-align-last: left;
        @include font("Intro", 400, 350px);
        z-index: 1;
        color: $white;
        animation-name: run-text;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    } 
}

.togo{
    .beverages__descr{
        margin: 0;
    }
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 15px 0 75px 0;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    .pd2{
        margin-top: 32px;
    }
}

.footer{
    background-color: $black;
    .wrapper{
        width: 1180px;
        margin: 0 auto;
        display: flex;
        padding: 43px 0 60px 0;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1180px) {
            width: 82%;
        }
    }
    &__form{
        @include font("Exo2", 300, 16px);
        color: $grey;
        &_logo{
             margin-bottom: 20px;
        }
        
        .label{
            margin-bottom: 9px;
        }

        .form{
            display: flex;
            flex-direction: column;

        }
        input{
            width: 300px;
            height: 58px;
            border: 1px solid $red;
            background: none;
            border-radius: 5px;
            color: $grey;
        }

        button{
            width: 64px;
            height: 58px;
            border: 1px solid $red;
            background-color: $red;
            border-radius: 5px;
            margin-left: 16px;
        }
        &_input{
            display: flex;
        }
    }
    &__info{
        &_caps{
            @include font("Geometria", 700, 16px);              
        }
        &_grey{
            @include font("Exo2", 300, 16px);
            color: $grey;
        }
    }
    &__links{
        &_download{
            margin-top: 26px;
            .download{
                width: 100%;
            }
        }
        &_social{
           display: flex;
           justify-content: space-between;
        }
        
    }
}

